
 body{
    color:rgb(0, 0, 0);
}


 table, td {
    border: 1px solid    rgb(25, 0, 255)
 }

 h1{
    color:rgb(2, 2, 7); 
    text-align: center;
}

 /*rubriker*/


  body { background-color: rgb(96, 195, 202)

   
  }



  h1 { text-align: left

  }


  body {
     font-family:arial,sans-serif;
  }
  

td{ background-color: rgb(126, 113, 55);
    width: 300px;
    height: 200px;
    border: 5px inset rgb(0, 255, 149);
    margin: 30px;
    padding: 50px;
 }



 